<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag('application')%>
  <title>BillsPc</title>
 </head>
<body>
<div id= "banner" ></div> 
<div class="home-title"><h1>Bill's PC</h1></div>
<br>
<br>
<br>
<!--before yield-->
<%= yield %>
<!--after yield-->
</body>
</html>
